<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that 
you not only installed them, but start them up to make sure they're working. 
If you have any problems, don't hesitate to email the instructors to 
ask for help, or arrive early on the first day of the workshop to 
get help.

<div class="row-fluid">
<ol>
<li><b>The data set</b>
<p>You need to download some files to follow this lesson:</p>
<ol style="list-style-type: decimal">
<li>Download <a href="http://www.neonhighered.org/Data/LidarActivity/CHM_InSitu_Data.zip">CHM_InSitu_Data.zip</a> and move the file to your Desktop.</l$
<li>Double-click on the zip file to unzip it. You should end up with several new folders - <code>DigitalSurfaceModel</code>, <code>DigitalTerrainModel<$
</ol>

<p>

<li><b>R</b>
<br>In the workshop, we will use RStudio. RStudio is a nice interface to the 
programming language R. To use RStudio, you need to install both R and RStudio.
<ul>
<li>R is available through most Linux package managers. 
You can download the binary files for your distribution
        from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
        you can use your package manager (e.g. for Debian/Ubuntu
        run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>). 
<li>To install RStudi, go to the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download page</a>
<li>Under <i>Installers</i> select the version for your distribution.
<li>Once it's downloaded, double click the file to install it
<li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
</ul>

</div>

 
